<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tracker App</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <main role="main" class="container">
      <div class="container">


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <%= if @current_user do %>
	      <a class="navbar-brand">
	        User: <%= @current_user.email %>
	        <%= link("Logout", to: Routes.session_path(@conn, :delete), method: :delete)%>
              </a>
	    <% else %>
              <%= form_for @conn, Routes.session_path(@conn, :create), [class: "form-inline"], fn f -> %>
	        <%= text_input f, :id, class: "form-control" %>
	        <%= submit "Login", class: "btn btn-info" %>
	      <% end %>
	    <% end %>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>



	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
		<div class="col"> <a class="nav-link" href="/">Home</a> </div>
	      </li>
	      <li>
      <div class="col">
        <%= if @current_user do %>
          <a class="nav-link" href="/profile">Profile</a>
        <% else %>
          <a class="nav-link" href="/users/new">Create Account</a>
        <% end %>
      </div>
	      </li>
        <li>
		        <div class="col">
                <a class="nav-link" href="/taskmenu">Task Menu</a>
            </div>
	      </li>
	    </ul> </div>
	</nav>




      </div>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
