<h1>Show Time</h1>

<ul>

  <li>
    <strong>Start:</strong>
    <%= @time.start %>
  </li>

  <li>
    <strong>Stop:</strong>
    <%= @time.stop %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.time_path(@conn, :edit, @time) %></span>
